body {
	font-family: 'Cinzel Decorative', cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#map-links {
	background-image: url('../assets/map.jpeg');
	background-repeat: no-repeat;
	background-size: 75%;
	text-align: center;
	width: 75%;
	border: 2px solid black;

}