body {
    font-family: 'Cinzel Decorative', cursive;
    background-image: url('../assets/paper-background.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

input {
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    justify-content: space-between;
    font-family: 'Cinzel Decorative', cursive;
    margin: 25px;
}

img {
    width: 10rem;
    background-repeat: no-repeat;
    margin: 10px;
}

button {
    font-family: 'Cinzel Decorative', cursive;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    box-shadow: 0px 0px 80px 80px rgb(49, 56, 56);
}

label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
}