body {
    font-family: 'Cinzel Decorative', cursive;
    background-image: url('../assets/paper-background.jpg');
    background-repeat: no-repeat;
}

button {
    font-family: 'Cinzel Decorative', cursive;
}